@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-purple: #662a88;
    --color-yellow: #f6f01e;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Overpass', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/Circuit\ Board-2.svg);
    background-size: cover;
}

.container {
    position: relative;
    width: 4.5em;
    height: 4em;
    background-color: #644dff;
    overflow: hidden;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 2;
    box-shadow: 0 .5em #4836bb;
    transition: all .1s ease;
    filter: drop-shadow(0 6px 2px #4836bb38);
    border: 1px solid #4836bb;
}
  
.button {
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 110%;
    width: 110%;
    background-color: #644dff;
    color: white;
}
  
.container:has(.button:active) {
    box-shadow: none;
    margin-top: 2em;
    filter: drop-shadow(0 3px 1px #4836bbbe);
}
  